<div class="column is-one-quarter"> 
    <nav class="panel">
        <p class="panel-heading">Trends</p>
        <div class="panel-block">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Trending Topic 1</strong>
                            <br>
                            10K Tweets
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="panel-block">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Trending Topic 2</strong>
                            <br>
                            5K Tweets
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <!-- Add more trending topics as needed -->
</div>